



h1{
    
    font-size: 20px;
    background-color: rgb(101, 226, 43);
    width: 30%;
}

form{
    width: 20%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    text-align: left;
}
.label-form{
    width: 100px;
    display: inline-block;
}
.input-form{
    width: 150px;
    display: inline-block;

}
.boton-form{
    background-color: white;
}

.boton-form:hover{
    color: blue;

}

footer{
    text-align: center;
    
}
