


h1{
    
    font-size: 20px;
    background-color: blueviolet;
    width: 30%;

}
form{
    background-color: white;
    width: 50%;
    text-size-adjust: 500px;

}
.boton-form{
    background-color:burlywood;
    width: 25%;
}
.boton-form:hover{
    color: blue;

}
.input-form{
    width: 150px;
    display: inline-block;
    height: 150%;
    
    
}
th ,td {
    padding: 5px;
}

footer{
    text-align: center;
}


