
h1{
    
    font-size: 20px;
    background-color: rgb(49, 142, 179);
    width: 30%;
}

.label-form{
    width: 10%;
    display: inline-block;
    
    text-align: left;
    
    
}
.input-form{
    width: 250px;
    display: inline-block;
}
footer{
    text-align: center;
    
}


    



